<div class="listcard">
    <div class="container">
        <div class="listcard-wapper-section">

          
            <div class="title-listcard-wapper">  
                    <div class="title-listcard-wapper-left">
                         <div class="title-listcard-left-icon">
                                {% set listcardicon = entry.titleIcon.one() %}
                                {% if listcardicon %}
                                     <img src="{{ listcardicon.url  }}"  alt="{{ listcardicon.title }}">
                                {% endif %}
                         </div>
                          <div class="title-listcard-left-copy">
                                {% if entry.titleSection %}
                                    <h2 class="listcard-title">{{ entry.titleSection }}</h2>
                                {% endif %}
                                  {% if entry.subtileSection %}
                                    <h5 class="listcard-subtile">{{ entry.subtileSection }}</h5>
                                {% endif %}
                         </div>
                    </div>

                     <div class="title-listcard-wapper-right">
                            {% set buttonSeeAll = entry.buttonSeeAll %}
                            {% if buttonSeeAll %}
                                <a href="{{ entry.buttonSeeAllUrl }}" class="lpe-button type-2 "> {{ buttonSeeAll }}  </a>
                            {% endif %}   
                    </div>

             </div>   
            <div class="itemtab-listcard-wapper-content">  
                <div class="row10">   

                                        {# Fetch all of the entries related to this category #}
                 {# Create an entry query and set some parameters on it #}
                    {# Create a category query with the 'group' parameter #}
                        {% for entry in craft.entries.relatedTo(craft.categories.slug('articles')) %}

                           
                            <div class="column3 item-listcard-wapper">  
                                <a href="{{ entry.url }}">
                                {% set  buttonIconLGI  = entry.featuredImages.one() %}
                                {% if buttonIconLGI %}
                                      <img src="{{ buttonIconLGI.url  }}"  alt="{{ buttonIconLGI.title }}">
                                {% endif %}
                                </a>
                                <a href="/"><h5>{{ entry.title }}</h5></a>
                                <p>{{ entry.descriptionblog }}</p>
                            </div>  

                        {% endfor %}
                    {# <div class="column3 item-listcard-wapper">  
                         <a href="/"><img src="/uploads/images/listcard1.png" alt="Blurb"></a>
                         <a href="/"><h5>Solar Solutions</h5></a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean augue enim et aliquet cursus.</p>
                    </div>  
                    <div class="column3 item-listcard-wapper">  
                         <a href="/"><img src="/uploads/images/listcard1.png" alt="Blurb"></a>
                         <a href="/"><h5>Solar Solutions</h5></a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean augue enim et aliquet cursus.</p>
                    </div>  
                    <div class="column3 item-listcard-wapper">  
                         <a href="/"><img src="/uploads/images/listcard1.png" alt="Blurb"></a>
                         <a href="/"><h5>Solar Solutions</h5></a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean augue enim et aliquet cursus.</p>
                    </div>   #}

                </div>    
            </div>    

        </div>
    </div>
</div>